.badgeDesign ::content{
    border-radius: 50%;
            background-color : red;
            height:50;
            width:50;
            text-align: center;
            line-height:50px;
            color:white;
            font-weight:bold;
            position:absolute;
            top:8;
            margin-left 
}